/* reset css start */
h1,h2,h3,h4,h5,h6,p,ul,ol,li,a{
    padding: 0px;
    margin: 0px;
}
a,a:hover{
    text-decoration: none;
    color: #000;
}

ol,ul{
    list-style-type: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2{
    font-family: 'Abril Fatface', cursive;
}
h3,h4,h5,h6,button,a{
    font-family: 'Ubuntu', sans-serif;
}
/* reset css end */

/* header part start */
    /* top-bar section start*/
#top-bar{
    background-color:#0f2f44 ;
    width: 100vw;
    color: white;
}
#top-bar p{
    padding: 13px 0;
    font-weight: 400;
    font-size: 16px;
}
    /* top-bar section end */
    
    /* navbar section start */
.bgclor{
    background-color: #ffff;
}
nav .container ul li{
    font-size:16px ;
    font-weight: 500;
    margin: 0px 9px;
}
nav .container ul li a{
    display: inline-block;
    color: #222222;
    padding: 37.5px 10px;
    transition: .6s;
}
nav .container ul li button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgb(232, 231, 231);
    border-radius: 50%;
    transition: .6s;
}
nav .container ul li button:hover{
    color:#ffc712 ;
    background-color: #fff9e6;
    cursor: pointer;
}
nav .container ul li button:last-child{
    margin-left: 15px;
}
nav .container ul li a:hover{
    color:#ffc712 ;
    background-color: #fff9e6;
}    
    /* navbar section end */
/* header section end*/

/* main css start */
/* hero section start */
#hero{
    background-image: url(./../images/Bizzency-bg-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 600px;
    align-items: center;
}
#hero .hero_content h3{
    color: #0f2f44;
    font-size: 50px;
    line-height: 70px;
    font-weight: 300;
}
#hero .hero_content h1{
    color:#0f2f44;
    font-size: 80px;
    line-height: 70px;
    padding-bottom: 17px;
    text-transform: uppercase;
    font-weight: 300;
}
#hero .hero_content h4{
    color: #8484bf;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 20px;

}
#hero .hero_content p{
    color: #444444;
    font-size: 14px;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
} 
#hero .hero_content .play a{
    color: #8484bf;
    background-color: #ffffff;
    border-radius: 8px;
    transition: .8s;
    padding: 15px 20px;
    box-shadow: 0 7px 20px 0 rgba(132,132,191,0.15);
}
#hero .hero_content button{
    color: #8484bf;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    transition: .8s;
    box-shadow: 0 7px 20px 0 rgba(132,132,191,0.15);
}
#hero .hero_content .play a:hover{
    color: #ffffff;
    background-color: #8484bf;
}
#hero .hero_content button:hover{
    color: #ffffff;
    background-color: #8484bf;
}
/* hero section end */
/* about section start */
#about  .about_text{
    padding: 100px 0;
}
#about .about_text h6{
    font-weight: 300px;
    font-size: 14px;
    color: #8b949b;
 }
 #about .about_text h2{
    font-size: 32px; 
    padding-bottom: 30px;
    padding-top: 5px;
 }
 #about  .about_text p{
     font-size: 16px;
     line-height: 24px; 
     color: #444444;

 }
 #about  .about_text li{
     font-size: 16px;
     line-height: 44px; 
     padding-left: 30px; 
     color: #444444;

 }
 #about .about_img{
    padding: 100px 0;
}
#about .about_text .btn a{
    background-color: #ffffff;
    color: #0f2f44;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 44px;
    margin: 20px;
    border-radius: 8px;
    transition: .8s;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.15);
}
#about .about_text .btn a:hover{
    background-color: #ffc712;
}
/* about section end */
/* our skill section start */
#our_skills{
    padding-bottom: 100px;
}
#our_skills .our_skills_img img{
    padding-top: 100px;
}
#our_skills .our_skills_text h6{
    font-weight: 300px;
    font-size: 14px;
    color: #8b949b;
}
#our_skills .our_skills_text h2{
    font-size: 32px; 
    padding-bottom: 30px;
    padding-top: 5px;
}
#our_skills .our_skills_text p{
    font-size: 16px;
    line-height: 24px; 
    color: #444444;
}
#our_skills .our_skills_img img{
    transform: translateX(-100px);
}
#our_skills .our_skills_text .skill_item_img img{
  border:15px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 25px 60px 10px rgba(0,0,0, .15);

}
#our_skills .our_skills_text .skill_items .progress-bar span{
    color: #0f2f44;
    font-size: 14px;
    line-height: 44px;
    transform: translateY(-20px);
}
#our_skills .skill_items .skill_item_info h4{
    color: #0f2f44;
    font-size: 14px;
    line-height: 44px;
    font-weight: 500;
}
#our_skills .skill_items{
    padding-top: 20px;
}

/* our skill section end */
/* our service section start */
#our_service{
    background-color: #f5f5f5;
    height: 420px;
    padding-top: 60px;
}
#our_service .service_title h6{
    font-weight: 300px;
    font-size: 14px;
    color: #8b949b;
    text-align: center;
}
#our_service .service_title h2{
    color: #0f2f44;
    text-align: center;
    font-size: 32px;
    line-height: auto;
    padding-bottom: 40px;
}
#our_service .service_box{
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
    align-items: center;
    background-color: #e9e9e9;
    position: relative;
}
#our_service .service_box .service_box_image{
    width: 100px;
    text-align: center;
}
#our_service .service_box .service_box_info{
    width: calc(100% - 100px);
    background-color: #eeeeee;
    padding: 28px 20px;

}
#our_service .service_box_info h3{
font-size: 20px;
font-weight: 500;
color: #222222;
padding-bottom: 20px;
}
#our_service .service_box_info p{
font-size: 14px;
line-height: 24px;
color: #444444;
}
/* our service section end */
/* portfolio section start */
#our_portfolio{
    height: 800px;
    padding: 100px 0;
}
#our_portfolio .portfolio_title h6{
    font-weight: 300px;
    font-size: 14px;
    color: #8b949b;
    text-align: center;
}
#our_portfolio .portfolio_title h2{
    color: #0f2f44;
    text-align: center;
    font-size: 32px;
    line-height: auto;
    padding-bottom: 40px;
}
#our_portfolio .portfolio_items{
    padding-bottom: 59px;
}
#our_portfolio .brz{
    background-color: #ffffff;
    margin:0 auto;
    color: #0f2f44;
    font-weight: 500;
    width: fit-content;
    padding: 15px 20px;
    text-transform: capitalize;
    transition: .8s;
    border-radius: 10px;
    box-shadow: 0 7px 20px 0;
}
#our_portfolio .brz:hover{
background-color: #ffc712;
box-shadow: 0 7px 20px 0 rgba(0,0,0,0.15);
}
/* portfolio section end */
/* our_testimonial section start*/
#our_testimonial{
    height: 445px;
    background-color: #f5f5f5;
    padding: 60px 0;
}
#our_testimonial .our_testimonial_title h6{
    font-weight: 300px;
    font-size: 14px;
    color: #8b949b;
    text-align: center;
}
#our_testimonial .our_testimonial_title h2{
    color: #0f2f44;
    text-align: center;
    font-size: 32px;
    line-height: auto;
    padding-bottom: 40px;
}
#our_testimonial .our_testimonial_items .testimonial_img img{
    width: 215px;
    height: 100%;
}
#our_testimonial .our_testimonial_items{
    width: calc(100% / 2 - 30px);
    margin: 0 15px;
    background-color: #e9e9e9;
    border-radius: 10px;
    align-items: center;
}

#our_testimonial .our_testimonial_items .testimonial_info p{
    font-size: 14px;
    line-height: 24px;
    color: #444444;
}
#our_testimonial .our_testimonial_items .testimonial_info h4{
    font-weight: 500;
    padding: 12px 0 8px;
    font-size: 20px;
    line-height: 24px;
    color: #0f2f44;
}
#our_testimonial .our_testimonial_items .testimonial_info h5{
    font-weight: 300;
    font-size: 16px;
    line-height:24px ;
    color:#415361 ;
}
/* our_testimonial section end*/
/* our latest blogs section start */
#latest_blogs .latest_blogs_title h6{
    font-weight: 300px;
    font-size: 14px;
    color: #8b949b;
    text-align: center;
}
#latest_blogs .latest_blogs_title h2{
    color: #0f2f44;
    text-align: center;
    font-size: 32px;
    line-height: auto;
    padding-bottom: 40px;
}
#latest_blogs .latest_blogs_items{
    width: calc(100% / 3 - 30px);
    margin: 0 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    width: 350px;
    transition: .8s;
}
#latest_blogs .latest_blogs_items h6{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin: 30px 0px 15px;
    transition: .8s;
}

#latest_blogs .latest_blogs_items p{
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    line-height: 26px;
    transition: .8s;
}
#latest_blogs .latest_blogs_items a{
    display: block;
    display: flex;
    margin: 25px 0px 10px;
    width: 105px;
    justify-content: space-between;
    align-items: center;
    color: #777777;
    font-size: 16px;
    transition: .8s;
}
#latest_blogs .latest_blogs_items:hover{
    background-color: #0f2f44;
}
#latest_blogs .latest_blogs_items h6:hover{
    color: #f5f5f5;
}
#latest_blogs .latest_blogs_items p:hover{
    color: #f5f5f5;
}
#latest_blogs .latest_blogs_items a:hover{
    color: #f5f5f5;
}
#latest_blogs .brz a{
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
    color: #0f2f44;
    font-weight: 500;
    width: fit-content;
    padding: 15px 20px;
    margin-bottom: 60px;
    text-transform: capitalize;
    transition: .8s;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.15);
}
#latest_blogs .brz a:hover{
    background-color: #ffc712;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.15);
}

/* our latest blogs section end */


/* main css end */